PROJECT_NAME="Infinite Website"
SECRET_KEY="generate_a_real_key_for_production"
DATABASE_URL="sqlite+aiosqlite:///./infinite.db"
BACKEND_CORS_ORIGINS=["http://localhost:3000"]

# AWS sns configuration
AWS_ACCESS_KEY_ID="generate_a_real_key_for_production"
AWS_SECRET_ACCESS_KEY="generate_a_real_key_for_production"
AWS_REGION="set_a_real_region_for_production"
AWS_SNS_TOPIC_ARN="set_a_real_topic_arn_in_production"
