PROJECT_NAME="Infinite Website"
SECRET_KEY="generate_a_real_key_for_production"
DATABASE_URL=mysql+asyncmy://root:password@localhost:3306/myproject
#use this for RDS
#DATABASE_URL=mysql+aiomysql://username:password@your-rds-endpoint.amazonaws.com:3306/DBNAME
BACKEND_CORS_ORIGINS=["http://localhost:3000"]

#replace these (in AWS Details -> CLI, at Learner Lab)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_SESSION_TOKEN=session_token

AWS_REGION=us-east-1