PROJECT_NAME="Infinite Website"
SECRET_KEY="generate_a_real_key_for_production"
DATABASE_URL=mysql+asyncmy://root:password@localhost:3306/myproject
#use below for RDS
#DATABASE_URL=mysql+aiomysql://username:password@your-rds-endpoint.amazonaws.com:3306/DBNAME
BACKEND_CORS_ORIGINS=["http://localhost:3000"]

# AWS sns configuration
AWS_ACCESS_KEY_ID="generate_a_real_key_for_production"
AWS_SECRET_ACCESS_KEY="generate_a_real_key_for_production"
AWS_REGION="set_a_real_region_for_production"
AWS_SNS_TOPIC_ARN="set_a_real_topic_arn_in_production"